<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="src/css/dist/main.css">
    <title>Website #1</title>
</head>
<body>
    <!-- V3 -->
    <div id="App">
        <div class="nav-wrapper"></div>
        <header id="header">
            <div class="nav-wrapper"></div>
            <div class="header-main">
                <div class="headline">
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
                </div>
                <div class="social">
                    <ul class="social-list">
                        <li>social</li>
                        <li>social</li>
                        <li>social</li>
                    </ul>
                </div>
            </div>
            <div class="header-hero"></div>
        </header>
        <main id="main">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate perspiciatis facilis rem labore nisi est quidem, fugiat consectetur doloremque corporis aspernatur esse quae, veritatis impedit nesciunt et asperiores in error! </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate perspiciatis facilis rem labore nisi est quidem, fugiat consectetur doloremque corporis aspernatur esse quae, veritatis impedit nesciunt et asperiores in error! </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate perspiciatis facilis rem labore nisi est quidem, fugiat consectetur doloremque corporis aspernatur esse quae, veritatis impedit nesciunt et asperiores in error! </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate perspiciatis facilis rem labore nisi est quidem, fugiat consectetur doloremque corporis aspernatur esse quae, veritatis impedit nesciunt et asperiores in error! </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate perspiciatis facilis rem labore nisi est quidem, fugiat consectetur doloremque corporis aspernatur esse quae, veritatis impedit nesciunt et asperiores in error! </p>
        </main>
    </div>

    <!-- V2 -->
    <!-- <div id="App">
        <header id="header">            
            <div class="header-main">
                <nav id="nav">
                    <div class="nav-logo">
                        <p id="name-app">Website</p>
                    </div>
                    <ul class="nav-list">
                        <li>page</li>
                        <li>page</li>
                        <li>page</li>
                        <li>page</li>
                    </ul>
                    <div id="nav-button">
                        <span class="material-symbols-outlined">
                            apps
                        </span>
                    </div>
                </nav>
                <div class="headline">
                    <h1 class="headline-title">
                        Lorem ipsum dolor, sit amet consectetur adipisicing.
                    </h1>
                    <p class="headline-desc">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="social">
                    <ul class="social-list">
                        <li>social</li>
                        <li>social</li>
                        <li>social</li>
                    </ul>
                </div>
            </div>
            <div class="header-hero"></div>
        </header>        
        <main id="main">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, at quod? At velit animi amet ipsum laborum quaerat neque facilis corrupti vitae ratione nostrum, laudantium atque qui reiciendis quis nisi?</p>
        </main>
    </div> -->


    <script src="src/js/main.js"></script>
    <!-- <script src="https://kit.fontawesome.com/055dddd3a1.js" crossorigin="anonymous"></script> -->
</body>
</html> 

<!-- 
    8rem

    3: 450-25 / 1026-57
    4: 540-30 / 1206-67
    5: 630-35 / 1421-77





 -->