@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans&family=Jost:wght@300;400&family=Love+Light&display=swap');

$font-title: 'Josefin Sans', sans-serif;
$font-text: 'Jost', sans-serif; 
$font-style: 'Abril Fatface', serif;
$font-style2: 'Love Light', cursive;